>mm10
CODING=lib/annotations/mm10.ucsc.coding.bed
CODING=lib/annotations/mm10.ucsc.pseudogene.bed
CODING=lib/annotations/mm10.refseq.coding.bed
#CODING=lib/annotations/mm10.ucsc.nearCoding.bed
ORTHOLOG=hg19
LIFTOVER=lib/annotations/mm10ToHg19.over.chain.gz
GENOME_FA=lib/annotations/mm10.fa
DUPS=lib/annotations/mm10.zfps.fa
DUPS=lib/annotations/mm10.olfs.fa
NONCODING=lib/annotations/mm10.ucsc.noncoding.bed
GENESYMBOL=lib/annotations/mm10.geneSymbolMap.txt
MIRNA=lib/annotations/mm10.miRNAs.bed
SNORNA=lib/annotations/mm10.snoRNAs.bed

>mm9
CODING=lib/annotations/mm9.ucsc.coding.bed
CODING=lib/annotations/mm9.ucsc.pseudogene.bed
CODING=lib/annotations/mm9.refseq.coding.bed
#CODING=lib/annotations/mm9.ucsc.nearCoding.bed
MAPPED_CODING=lib/annotations/mm9.blastHg18KG.NM.bed
MAPPED_CODING=lib/annotations/mm9.transMapAlnUcscGenes.coding.bed
ORTHOLOG=hg19
LIFTOVER=lib/annotations/mm9ToHg19.over.chain.gz
GENOME_FA=lib/annotations/mm9.fa
DUPS=lib/annotations/mm9.zfps.fa
DUPS=lib/annotations/mm9.olfs.fa
NONCODING=lib/annotations/mm9.ucsc.noncoding.bed
NONCODING=lib/annotations/mm9.pluripotent.long_noncoding_RNAs.bed
GENESYMBOL=lib/annotations/mm9.geneSymbolMap.txt
MIRNA=lib/annotations/mm9.miRNAs.bed
SNORNA=lib/annotations/mm9.snoRNAs.bed

>hg19
CODING=lib/annotations/hg19.ucsc.coding.bed
CODING=lib/annotations/hg19.ucsc.pseudogene.bed
CODING=lib/annotations/hg19.refseq.coding.bed
#CODING=lib/annotations/hg19.ucsc.nearCoding.bed
MAPPED_CODING=lib/annotations/hg19.transMapAlnUcscGenes.coding.bed
ORTHOLOG=mm9
LIFTOVER=lib/annotations/hg19ToMm9.over.chain.gz
GENOME_FA=lib/annotations/hg19.fa
DUPS=lib/annotations/hg19.zfps.fa
DUPS=lib/annotations/hg19.olfs.fa
NONCODING=lib/annotations/hg19.ucsc.noncoding.bed
NONCODING=lib/annotations/hg19.pluripotent.long_noncoding_RNAs.bed
GENESYMBOL=lib/annotations/hg19.geneSymbolMap.txt
MIRNA=lib/annotations/hg19.miRNAs.bed
SNORNA=lib/annotations/hg19.snoRNAs.bed

>hg38
CODING=lib/annotations/hg38.gencode.v23.basic.coding.bed 
CODING=lib/annotations/hg38.gencode.v23.pseudo.bed
CODING=lib/annotations/hg38.refseq.coding.bed
ORTHOLOG=mm10
LIFTOVER=lib/annotations/hg38ToMm10.over.chain.gz
GENOME_FA=lib/annotations/hg38.fa
DUPS=lib/annotations/hg38.zfps.fa
DUPS=lib/annotations/hg38.olfs.fa
NONCODING=lib/annotations/hg38.gencode.v23.lncRNA.bed
GENESYMBOL=lib/annotations/hg38.geneSymbolMap.txt
MIRNA=lib/annotations/hg38.miRNAs.bed
SNORNA=lib/annotations/hg38.snoRNAs.bed


